.photo-container-line-1 {
    position: relative;
    height: 100px;
    width: 150px;
}

.text-block {
    position: absolute;
    background-color: lightseagreen;
    color: white;
    width: 100%;
    text-align: center;
    bottom: 5%;
    line-height: 2px;
}

#portfolio-image {
    width: 100%;
    height: 100%;
}

#portfolio {
    background-color: white;
    width: 70%;
    margin: auto;
}

body {
    background-color: #efeee7;
    margin: 0;
    padding: 0;
    top: 0;
    height: 100%;
}

html {
    height: 100%;
}

#portfolio-table {
    padding-left: 15px;
}

.table-data {
    padding: 15px;
}

.section-headers {
    color: lightseagreen;
    text-align: left;
    vertical-align: middle;
    line-height: 300%;
    padding-left: 30px;
    margin-bottom: 0;
}

.section-headers-divider {
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid lightgray;
    margin-top: 0;
}

.page-headers {
    background-color: lightseagreen;
    color: white;
    font-size: 18pt;
    margin: 0;
    width: 20%;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    float: left;
}

header {
    background-color: white;
    border-bottom: 1px solid lightgray;
    margin: 0;
    height: 60px;
}

.page-headers-containers {
    width: 70%;
    height: 100%;
    margin: auto;
    vertical-align: middle;
}

#bio-image {
    float: left;
    height: 250px;
    width: 180px;
    margin: 0px 30px 30px 0px;
}

#bio-photo {
    background-color: white;
    width: 70%;
    /* height: 600px; */
    margin: auto;
}

nav {
    float: right;
    line-height: 60px;
    vertical-align: middle;
    color: lightgray;
}

#bio-photo-div {
    padding: 15px 30px 15px 30px;
    overflow: auto;
}

.nav-bar-link {
    color: gray;
    text-decoration: none;
}

#contact {
    background-color: white;
    width: 70%;
    margin: auto;
}

#contact-section {
    margin-left: 15px;
    margin-bottom: 10px;
}

#form-section {
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 30px;
}

#contact-button {
    margin-left: 15px;
    background-color: lightseagreen;
    color: white;
    width: 90px;
    height: 30px;
    font-size: 10pt;
    margin-bottom: 20px;
}

form {
    color: gray;
}

input {
    width: 100%;
    margin-right: 15px;
}

#input-message {
    height: 200px;
    width: 100%;
}

footer {
    background-color: #666868;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: solid 4px lightseagreen;
}